header {
    background-color: #db2727;
    width: 100%;
}

.headerimg {
    width: 250px;

    display: inline-block;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
        /* nach oben schweben */
    }
}
