.loadingscreen {
    width: 24px;              /* Größe des GIFs */
    height: 24px;
    display: none;            /* standardmäßig versteckt */
    margin-left: 10px;        /* Abstand zum Button */
    vertical-align: middle;   /* mittig ausrichten */
    
    background-image: url('./Assets/gif/Bulbasaur'); /* Pfad zu deinem GIF */
    background-size: contain; /* GIF skaliert proportional */
    background-repeat: no-repeat;
    background-position: center;
}
