.loadingscreen {
    width: 24px;             
    height: 24px;
    display: none;            
    margin-left: 10px;        
    vertical-align: middle;   
    
    background-image: url('../Assets/gifs/Bulbasaur.gif'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
