@media (max-width: 750px) {

    .loadMoreButton-Container {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 751px) and (max-width: 1550px) {

    .loadMoreButton-Container {
        display: flex;
        justify-content: center;



    }

    .loadMorePokemon {
    color: white;
    background-color: #db2727;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 750px;

}
}