.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 20px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.pokeball-searchbar {
    background-color: transparent;
    background-image: url("../assets/imgs/icons/pokeballrot.png");
    width: 24px;
    padding: 12px;

    background-size: cover;
    background-position: center;
    margin-left: 5px;
    margin-right: 5px;
}

input {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    text-align: center;

}

.searchbutton {
    margin-left: 5px;
    background-color: #db2727;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 4px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;



}

.pknseach-Container{
    display: flex;
    justify-content: center;
}